.components-datepicker {
  position: absolute;

  display: grid;
  grid-template-columns: 1fr auto auto;

  height: 268px;

  border: solid 1px var(--color-background-brighter);
  background-color: var(--color-background-dark);

  cursor: default;

  & .pickable {
    padding: 8px;
    text-align: center;

    & .item {
      border-radius: 12px;
      width: 36px;

      &.disabled {
        color: var(--color-foreground-dark);
      }

      &.now {
        background-color: var(--color-background-brighter);
      }

      &.selected {
        color: var(--color-background-dark);
        background-color: var(--color-accent-dark);
      }
    }
  }

  & .header {
    grid-column-start: 1;
    grid-column-end: 4;

    display: flex;

    justify-content: space-around;
    align-items: stretch;

    background-color: var(--color-background-bright);
    border-bottom: solid 1px var(--color-background-brighter);
  }

  & .date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;

    & .weekday {
      font-weight: bold;
    }
  }

  & .hours {
    display: flex;
    flex-direction: column;

    justify-self: start;
    overflow-y: auto;

    border-left: solid 1px var(--color-background-brighter);
  }

  & .minutes {
    display: flex;
    flex-direction: column;

    justify-self: start;
    overflow-y: auto;

    border-left: solid 1px var(--color-background-brighter);
  }

  & .clickable {
    cursor: pointer;
  }

  & .reset {
    color: var(--color-accent);
  }
}

