.components-datepicker {
  position: absolute;
  z-index: 100;

  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* margin: auto; */

  @media (max-width: 390px) {
    right: 0;
    left: 0;
    margin: auto;
  }

  @media (max-height: 510px) {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  color: var(--color-foreground);
  font-weight: normal;

  display: grid;
  grid-template-columns: 1fr auto auto;

  width: 365px;
  height: 231px;

  font-size: 1.1rem;

  border: solid 1px var(--color-background-brighter);
  border-radius: 8px;
  background-color: var(--color-background-dark);

  cursor: default;

  & .header {
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;

    grid-template-columns: repeat(7, 1fr);
    place-items: stretch;
    text-align: center;

    font-size: 1.2rem;

    background-color: var(--color-background-bright);
    border-bottom: solid 1px var(--color-background-brighter);
  }

  & .date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;

    & .weekday {
      font-weight: bold;
    }
  }

  & .hours {
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    border-left: solid 1px var(--color-background-brighter);
  }

  & .minutes {
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    border-left: solid 1px var(--color-background-brighter);
  }

  & .clickable {
    cursor: pointer;
  }

  & .pickable {
    padding: 8px;
    text-align: center;

    & .item {
      border-radius: 0.5em;
      width: 1.5em;

      &.disabled {
        color: var(--color-foreground-dark);
      }

      &.now {
        background-color: var(--color-background-brighter);
      }

      &.selected {
        color: var(--color-background-dark);
        background-color: var(--color-accent-dark);
      }
    }
  }

  & .reset {
    color: var(--color-accent);
  }
}
