.components_icon {
  display: inline-block;

  margin: 0;
  padding: 0;

  width: 0.7em;
  height: 0.7em;

  fill: currentColor;
}

.components_icon_spin {
  & > svg {
    animation: components_icon_spin 1s linear infinite;
  }
}

@keyframes components_icon_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
