.components-icon {
  display: inline-block;

  margin: 0;
  padding: 0;

  width: 0.7em;
  height: 0.7em;

  fill: currentColor;
}

.components-icon-spin {
  & > svg {
    animation: components-icon-spin 1s linear infinite;
  }
}

@keyframes components-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
