.components_nav {
  width: 100%;
  color: var(--color-background);
  background-color: var(--color-accent-dark);

  display: flex;
  justify-content: space-between;

  & > * {
    padding: 16px;
  }
}
