.components.nav.root {
  margin-left: 32px;
  margin-right: 32px;
}

.components.nav.name {
  will-change: filter;
  transition: filter 300ms;
}
.components.nav.name:hover {
  filter: drop-shadow(0 0 8px var(--pico-primary));
  text-decoration: none;
}

.components.nav.logo {
  height: 1em;
  podding: 1em;
}
