.components.nav.root {
  width: 100%;
  background-color: #333333;

  display: flex;
  justify-content: space-between;
}

.components.nav.root > * {
  padding: 16px;
}

.components.nav.name {
  will-change: filter;
  transition: filter 300ms;
}
.components.nav.name:hover {
  filter: drop-shadow(0 0 8px var(--pico-primary));
  text-decoration: none;
}
