.components_side {
  display: flex;
  flex-direction: column;

  background-color: var(--this-color-background);

  font-size: 3em;

  @media (orientation: landscape) {
    &::after {
      margin-top: auto;
      content: '';
      border-top: solid var(--this-color-background-bright);
    }

    & > :last-child {
      order: 1;
    }
  }

  @media (orientation: portrait) {
    & > :last-child {
      display: none;
    }
  }

  & > * {
    cursor: pointer;

    color: currentColor;
    font-weight: bold;

    box-sizing: border-box;
    padding-left: 0.4em;
    padding-right: 0.4em;

    will-change: background-color;
    transition: background-color var(--duration-hover);

    &:hover {
      background-color: var(--this-color-background-bright);
    }

    &.active {
      color: var(--this-color-background);
      background-color: var(--color-accent);
    }

    &.inactive {
      color: currentColor;
    }
  }

  & .components_side_text {
    display: none;

    font-size: 1rem;
    vertical-align: middle;

    &#visible {
      display: unset;
    }
  }

  --this-color-background: #202020;
  --this-color-background-bright: #404040;
}
