.components-side {
  display: flex;

  background-color: var(--color-background-dark);

  font-size: 3em;

  @media (orientation: landscape) {
    flex-direction: column;
    overflow-y: auto;

    &::after {
      margin-top: auto;
      content: '';
      border-top: solid var(--color-background-bright);
    }

    & > :last-child {
      order: 1;
    }
  }

  @media (orientation: portrait) {
    overflow-x: auto;

    & > * {
      flex-grow: 1;
      text-align: center;
    }

    & > :last-child {
      display: none;
    }
  }

  & > * {
    color: currentColor;
    font-weight: bold;

    box-sizing: border-box;
    padding-left: 0.4em;
    padding-right: 0.4em;

    &:not(.components-side-ignore) {
      cursor: pointer;
      will-change: background-color;
      transition: background-color var(--duration-animation);

      &:hover {
        background-color: var(--color-background-bright);
      }

      &.active {
        color: var(--color-background-dark);
        background-color: var(--color-accent);
      }

      &.inactive {
        color: currentColor;
      }
    }
  }

  & .components-side-text {
    display: none;
    margin-left: 1ch;

    @media (orientation: portrait) and (min-width: 600px) {
      display: unset;
    }

    font-size: 1rem;
    vertical-align: middle;

    &#visible {
      @media (orientation: landscape) or (min-width: 600px) {
        display: unset;
      }
    }
  }
}
