.components_spinner {
  display: inline-block;

  margin: 0;
  padding: 0;

  width: 0.7em;
  height: 0.7em;
  padding-right: 0.3ch;

  & > svg {
    fill: currentColor;
    animation: components_spinner 1s linear infinite;
  }
}

@keyframes components_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
