.components-prompt-invite {
  display: flex;

  align-items: center;
  gap: 12px;

  @media (max-width: 800px) {
    display: grid;

    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
  }
}
