.components-prompt-register {
  display: grid;

  grid-template-columns: 1fr auto;
  gap: 12px;

  align-items: center;

  & .datepicker-holder {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
  }
}
