.router-player-not-found {
  height: 100%;

  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  gap: 1em;

  & > .router-player-not-found-icon {
    font-size: 7em;
  }
}

.router-player {
  .router-player-header {
    display: flex;

    background-color: var(--color-background-dark);

    border-radius: 16px;

    & .router-player-header-badge {
      padding-left: 16px;
      padding-right: 16px;

      color: var(--color-foreground);
      font-size: 4em;

      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      background-color: black;

      & > svg {
        width: 1em;
      }

      &.first {
        color: gold;

        & > svg {
          filter: drop-shadow(0 0 16px);
        }
      }

      &.second {
        color: white;

        & > svg {
          filter: drop-shadow(0 0 16px);
        }
      }

      &.third {
        color: burlywood;

        & > svg {
          filter: drop-shadow(0 0 16px);
        }
      }
    }

    & .router-player-header-name {
      display: inline-block;

      color: var(--color-accent);

      font-weight: bold;
      font-size: 4em;

      margin-left: 32px;
      margin-right: 32px;
    }

    & .router-player-header-score {
      font-weight: bold;
      font-size: 4em;

      margin-left: auto;
      margin-right: 32px;
    }
  }

  .router-player-stats {
    display: grid;
  }
}
