.routes-game {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 12px;

  align-items: center;
  justify-items: center;

  & .player {
    font-size: 2.5em;
  }

  & .score {
    font-size: 2em;
    font-weight: bold;
  }

  & .unknown {
    color: var(--color-foreground-dark);
  }

  & .start {
    justify-self: start;
  }

  & .end {
    justify-self: end;
  }

  & .center {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  & .positive {
    color: var(--color-positive);
  }

  & .negative {
    color: var(--color-negative);
  }

  & .marker {
    font-size: 1.5em;

    color: var(--color-background-brighter);

    &.active {
      color: white;

      & > * {
        filter: drop-shadow(0 0 4px);
      }
    }
  }
}
