.routes-leaderboard {
  display: flex;
  flex-direction: column;
  gap: 24px;

  & > .table {
    overflow-x: auto;

    & .self {
      color: var(--color-accent);
    }

    & .badge {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;

      & .first {
        color: gold;
        & > svg {
          filter: drop-shadow(0 0 4px);
        }
      }

      & .second {
        color: white;
        & > svg {
          filter: drop-shadow(0 0 4px);
        }
      }

      & .third {
        color: burlywood;
        & > svg {
          filter: drop-shadow(0 0 4px);
        }
      }
    }

    & .table-header {
      cursor: pointer;

      & .sort {
        margin-left: 5px;
        color: var(--color-accent);
      }
    }
  }
}
