.routes-leaderboard-self {
  color: var(--color-accent);
}

.routes-leaderboard-badge {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

  & .routes-leaderboard-first {
    color: gold;
    & > svg {
      filter: drop-shadow(0 0 4px);
    }
  }

  & .routes-leaderboard-second {
    color: white;
    & > svg {
      filter: drop-shadow(0 0 4px);
    }
  }

  & .routes-leaderboard-third {
    color: burlywood;
    & > svg {
      filter: drop-shadow(0 0 4px);
    }
  }
}
