.routes-player-not-found {
  height: 100%;

  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  gap: 1em;

  & > .routes-player-not-found-icon {
    font-size: 7em;
  }
}

.routes-player {
  display: flex;

  flex-direction: column;
  gap: 24px;

  .routes-player-header {
    display: flex;

    @media (max-width: 500px) {
      flex-direction: column;
    }

    background-color: var(--color-background-dark);

    border-radius: 16px;

    overflow-x: auto;

    & .routes-player-header-badge {
      padding-left: 16px;
      padding-right: 16px;

      align-content: center;
      text-align: center;

      color: var(--color-foreground);
      background-color: black;
      font-size: 3em;

      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;

      @media (max-width: 500px) {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-left-radius: unset;
      }

      & > svg {
        width: 1em;
      }

      &.first {
        color: gold;

        & > svg {
          filter: drop-shadow(0 0 16px);
        }
      }

      &.second {
        color: white;

        & > svg {
          filter: drop-shadow(0 0 16px);
        }
      }

      &.third {
        color: burlywood;

        & > svg {
          filter: drop-shadow(0 0 16px);
        }
      }
    }

    & .routes-player-header-name {
      display: inline-block;

      align-content: center;
      white-space: wrap;

      color: var(--color-accent);

      font-weight: bold;
      font-size: 2.5em;

      margin-left: 32px;
      margin-right: 32px;
    }

    & .routes-player-header-score {
      font-weight: bold;
      font-size: 2.5em;

      margin-left: auto;
      margin-right: 32px;

      align-content: center;
    }
  }

  .routes-player-stats {
    display: grid;

    margin-left: 24px;
    margin-right: 24px;

    grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 12px;

    @media (orientation: portrait) {
      @media (max-width: 900px) {
        grid-template-columns: auto 1fr auto 1fr;
      }

      @media (max-width: 600px) {
        grid-template-columns: auto 1fr;
      }
    }

    @media (orientation: landscape) {
      @media (max-width: 1100px) {
        grid-template-columns: auto 1fr auto 1fr;
      }

      @media (max-width: 800px) {
        grid-template-columns: auto 1fr;
      }
    }
  }
}
